* {
    margin: 0;
    padding: 0;
    font-family: "苹方", "微软雅黑";
    font-size: 0.12rem;
    -webkit-tap-highlight-color: transparent;
    font-weight: normal !important;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 430px) {
    html {
        font-size: 114px;
    }
}

@media only screen and (max-width: 429px) and (min-width:414px) {
    html {
        font-size: 110.4px;
    }
}

@media only screen and (max-width: 413px) and (min-width:404px) {
    html {
        font-size: 107px;
    }
}

@media only screen and (max-width: 403px) and (min-width:394px) {
    html {
        font-size: 105px;
    }
}

@media only screen and (max-width: 393px) and (min-width:384px) {
    html {
        font-size: 102.4px;
    }
}

@media only screen and (max-width: 383px) and (min-width:374px) {
    html {
        font-size: 100px;
    }
}

@media only screen and (max-width: 373px) and (min-width:360px) {
    html {
        font-size: 96px;
    }
}

@media only screen and (max-width: 359px) and (min-width:350px) {
    html {
        font-size: 93.33px;
    }
}

@media only screen and (max-width: 349px) {
    html {
        font-size: 85.34px;
    }
}